interactions:
- request:
    body: CooEpoch=2000&CooFrame=ICRS&Radius=5.0&Coord=169.18+4.72&CooDefinedFrames=none&CooEqui=2000
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: http://simbad.u-strasbg.fr/simbad/sim-coo
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE HTML PUBLIC
        \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<HTML>\n<head>\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n<link href=\"http://cds.u-strasbg.fr/cds-navbar-resources/css/cdshead.min.css\"
        rel=\"stylesheet\" />\n<script type=\"text/javascript\" src=\"http://cds.u-strasbg.fr/cds-navbar-resources/js/jquery-1.10.1.min.js\"></script>\n<script
        type=\"text/javascript\">var jqMenu = jQuery.noConflict();</script>\n<script
        type=\"text/javascript\" src=\"http://cds.u-strasbg.fr/cds-navbar-resources/js/cdsmenu.min.js\"></script><meta
        charset=\"utf-8\">\n<link rel=\"stylesheet\" href=\"http://simbad.u-strasbg.fr/Simlib/sed.css\"
        type=\"text/css\" />\n<link rel=\"stylesheet\" href=\"http://si[...]
